/* CMP-316 Rating */
@layer ag.components {
  .ag-rating {
    display: inline-flex;
    gap: var(--ag-space-1);
  }
  .ag-rating-item {
    cursor: pointer;
    color: var(--ag-rating-off);
    opacity: 0.35;
  }
  .ag-rating-item-on {
    opacity: 1;
    color: var(--ag-rating-on);
  }
  .ag-rating[data-ag-readonly] .ag-rating-item {
    cursor: default;
  }
}
