/* CMP-305/423 Link */
@layer ag.components {
  .ag-link {
    color: var(--ag-link);
    cursor: pointer;
  }
  .ag-link[data-ag-underline="always"] {
    text-decoration: underline;
  }
  .ag-link[data-ag-underline="hover"]:hover {
    text-decoration: underline;
  }
  .ag-link[data-ag-underline="none"] {
    text-decoration: none;
  }
  .ag-link[data-ag-intent="danger"] {
    color: var(--ag-intent-danger);
  }
}
